* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0px;
    font-family: sans-serif;
    text-align: center;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #6C7B91;
    background: radial-gradient(#E6EFF6, #C9DCEA);
}

h1 {
    margin-top: 10px;
    margin-bottom: 0;
}

main {
    flex: 1;
    width: 80%;
    text-align: center;
}

.calendar .currentMonth{
text-align: left;
}

.calendar table {
    border-spacing: 0;
    border-collapse: collapse;
    margin: 0 auto;
    width: 100%;
    color:#6C7B91;
}

.calendar td {
    width: 10px;
    height: 10px;
    padding: 5px;
    text-align: center;
}

.calendar td:first-child {
    color: #888;
}

.calendar td:last-child {
    color: #888;
}

.calendar .today {
    width: 40px;
    aspect-ratio: 1 / 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: red;
    color: #fff;
}

a {
    color: #6C7B91;
}

footer {
    font-size: 0.9em;
    margin-bottom: 0;
}

footer p {
    margin: 0;
}

footer a {
    margin: 0px 2.5%;
}

/* ©2026 tarutarusosu029 */